/* CustomerList.css */

.customer-list {
  max-height: 500px;
  overflow-y: auto;
}

.customer-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px 0;
  cursor: pointer;
  background-color: #f5f6fa;
}

.customer-item:hover {
  background-color: #e6eaf3;
}

.customer-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 3%;
  margin-bottom: 10px;
}

.customer-details h3 {
  margin: 0;
}

.customer-details p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Align buttons vertically centered */
  gap: 5px; /* Add a bit of gap between buttons */
  margin-top: auto; /* Push buttons to the bottom */
}

.button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.edit-button {
  background-color: #3498db;
  color: white;
}

.remove-button {
  background-color: #e74c3c;
  color: white;
}

.button i {
  margin-right: 5px;
}

.button:hover {
  opacity: 0.9;
}

.add-button {
  background-color: #27ae60;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 10px;
}

.add-button:hover {
  background-color: #219653;
  opacity: 0.9;
}

.total-records {
  margin-top: 10px;
  padding: 5px;
  background-color: #d7d9e4;
  font-size: 14px;
  color: #252424;
  text-align: center;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .customer-item {
    flex-direction: row;
  }

  .customer-image img {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .button-group {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }
}
