/* Hero section */
.hero {
  background-image: url('https://headsupfortails.com/cdn/shop/files/520x150_new.jpg?v=10468574779308973862');
  background-size: cover;
  background-position: center;
  color: gray;
  text-align: center;
  padding: 150px 0;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  background-color: #ff9900;
  color: grey;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #e68700;
}

/* Services section */
.service {
  padding: 5px 0;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.service {
  align-items: center;
}

.service img {
  max-width: 100%;
  border-radius: 5px;
}

.service h3 {
  margin-top: 10px;
}

/* Cards section */
.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px 0;
}

.card {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 300px;
}

.card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero {
    padding: 100px 0; /* Reduce padding on smaller screens */
  }
  .hero h2 {
    font-size: 2rem;
  }

  .cta-button {
    margin-top: 10px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 80%;
  }
}
